/* -----------------------------------------------------------------------------
 * Variables
 * -------------------------------------------------------------------------- */
//Breakpoints
$breakpoint-tablet: 720px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-lg: 1400px; 

 // COLOURS
$dark: #2A363B; // Near Black
$light: #EEEEEE; // Near White

// Green and Gray Theme colors
$colorset1: #FF847C; // Orange
$colorset2:  #E84A5F; // Red
$colorset3: #FECEA8; // Light-Orange

// WIDTHS
$fullwidth: 100%;

//Fonts
$primaryFont: 'Roboto', sans-serif;
$SecondaryFont: 'Amatic SC', cursive;


