@@include('_header.html', { "pageTitle": "Pizza" })  

<main>

	<!-- ============ SECTION 1 - ABOUT ========= -->

	<section class="sectionone">
		<div class="container">
			<div class="row">
				<div class="title padding-top-lg padding-bottom-lg">
					<h2>About Us</h2>
					<div class="divider"></div>
				</div>
			</div>
			<div class="row"> 
				<div class="col-6">
					<div class="aboutimg">
						<!-- // background-image -->
					</div>
				</div>
				<div class="col-6">
					<div class="aboutContent"> 
						<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
						<button class="btn"><a href="#">More Info</a></button>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- ======= SERVICES ==== SECTION 2 ======== -->

	<section class="sectiontwo">
		<div class="container">
			<div class="title padding-top-lg padding-bottom-lg">
				<h1>Services</h1>
				<div class="divider"></div>
			</div>
			<div class="row"> 
				<div class="col-3">
					<div class="service-container">
						<div class="service-img">
							<img src="/images/icon1.png">
						</div>
						<div class="service-content">
							<h2>Food</h2>
							<div class="divider"></div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, vel?</p>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="service-container">
					<div class="service-img">
							<img src="/images/icon2.png">
						</div>
						<div class="service-content">
							<h2>Drinks</h2>
							<div class="divider"></div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, vel?</p>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="service-container">
						<div class="service-img">
							<img src="/images/icon3.png">
						</div>
						<div class="service-content">
							<h2>Menu</h2>
							<div class="divider"></div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, vel?</p>
						</div>
					</div>
				</div>
				<div class="col-3">
				<div class="service-container">
					<div class="service-img">
						<img src="/images/icon4.png">
					</div>
					<div class="service-content">
						<h2>Booking</h2>
						<div class="divider"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, vel?</p>
					</div>
				</div>
			</div>
		</div>
	</section>



	<!-- ======= SPECIAL OFFERS ==== SECTION 2 ======== -->

	<section class="sectionthree">
		<div class="offersContainer">
		<div class="offers">
			<div class="offersContent">
				<div class="padding-top-lg padding-bottom-lg">
					<h2 class="offersTitle">Our Offers</h2>
					<div class="divider"></div>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
				<button class="btn"> <a href="">View Offers</a></button>
			</div>
		</div>
	</div>
	</section>

	<!-- MAP -->

<section class="sectionfour">
	<div class="row">
				<div class="title padding-top-lg padding-bottom-lg">
					<h2>Where to Find Us</h2>
					<div class="divider"></div>
				</div>
			</div>
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d19701.07775959639!2d-0.5217719540283203!3d51.88588000512603!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2suk!4v1515443357547" class="googlemaps" allowfullscreen></iframe>
</section>


</main>
 @@include('_footer.html')