@@include('_header.html', { "pageTitle": "Reviews" })  

<main>

	<!-- ============ SECTION 1 ========= -->

	<section class="sectionone">
		<div class="container">
			<div class="title padding-top-lg padding-bottom-lg">
				<h1>Reviews</h1>
				<div class="divider"></div>
			</div>
			<div class="row"> 

				<div class="review">
					<div class="review-comment">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam assumenda nam enim temporibus nesciunt, fugiat sequi eius facilis ea optio. Necessitatibus beatae architecto distinctio iste inventore amet quos, nostrum repellendus, recusandae ratione cum possimus accusamus, minus officia. Rerum tempore cum eveniet nesciunt, accusamus, ipsa sed mollitia molestiae quidem magnam alias?</p>
					</div>
					<div class="review-name">By John Doe</div>
					<hr>
					<div class="review-comment">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam assumenda nam enim temporibus nesciunt, fugiat sequi eius facilis ea optio. Necessitatibus beatae architecto distinctio iste inventore amet quos, nostrum repellendus, recusandae ratione cum possimus accusamus, minus officia. Rerum tempore cum eveniet nesciunt, accusamus, ipsa sed mollitia molestiae quidem magnam alias?</p>
					</div>
					<div class="review-name">By John Doe</div>
					<hr>
					<div class="review-comment">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam assumenda nam enim temporibus nesciunt, fugiat sequi eius facilis ea optio. Necessitatibus beatae architecto distinctio iste inventore amet quos, nostrum repellendus, recusandae ratione cum possimus accusamus, minus officia. Rerum tempore cum eveniet nesciunt, accusamus, ipsa sed mollitia molestiae quidem magnam alias?</p>
					</div>
					<div class="review-name">By John Doe</div>
					<hr>
					<div class="review-comment">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam assumenda nam enim temporibus nesciunt, fugiat sequi eius facilis ea optio. Necessitatibus beatae architecto distinctio iste inventore amet quos, nostrum repellendus, recusandae ratione cum possimus accusamus, minus officia. Rerum tempore cum eveniet nesciunt, accusamus, ipsa sed mollitia molestiae quidem magnam alias?</p>
					</div>
					<div class="review-name">By John Doe</div>
				</div>
				

			</div>
		</div>
	</section>

</main>
 @@include('_footer.html')